/* CSS RESET */
body {
    margin: 0px;
    padding: 0px;
    background: url('./tut26.jpg');
    background-size: cover;
    color: white;
    font-family: 'Baloo 2';
}

.left {
    /* display: inline-block; */
    /* border: 2px solid red; */
    position: absolute;
    left: 27px;
    top: 18px;
}

.left img {
    width: 90px;
    height: 72px;
}

.left div {
    text-align: center;
    line-height: 0em;
    font-size: 20px;
}
.left div:hover
{
    color: red;
}

.mid {
    display: block;
    width: 50%;
    margin: 37px auto;
    /* border: 2px solid blue; */
    /* position: absolute;
    left: 173px;
    top: 10px; */
}

.right {
    /* border: 2px solid yellow; */
    position: absolute;
    right: 14px;
    top: 28px;
}


.navbar li {
    display: inline-block;
    font-size: 22px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 18px 26px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: grey;
}

.btn {
    font-family: 'Baloo 2';
    background-color: black;
    color: white;
    background-color: black;
    padding: 10px 7px;
    margin: 1px 24px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(150, 148, 148);
}

.container {
    border: 2px solid white;
    border-radius: 40px;
    width: 44%;
    padding: 41px 36px;
    margin: 96px 26px;
}

.formgrp input {
    text-align: center;
    display: block;
    width: 69%;
    margin: 10px auto;
    padding: 2px;
    border: 2px solid black;
    border-radius: 12px;
    font-size: 19px;
    font-family: 'Baloo 2';
}

.container h1 {
    text-align: center;
    line-height: 1em;
}

.container .btn {
    display: block;
    width: 158px;
    margin: 17px auto;
    padding: 0px 31px;
    border-radius: 12px;
    font-size: 22px;
}